# Byte‐compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints

# Virtual environments
env/
venv/
.venv/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Data files
*.csv
*.xlsx
